@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My store Application</h1>
    <p>I am building this app with ASP.NET Core</a>.</p>
    please check my Clients tab for more details
</div>
